<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>assets/5Hoxo0s.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {500, 250}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {500, 250}}</string>
			<key>sourceSize</key>
			<string>{500, 250}</string>
		</dict>
		<key>assets/ch1.png</key>
		<dict>
			<key>frame</key>
			<string>{{374, 358}, {33, 24}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 6}, {33, 24}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>assets/ch2.png</key>
		<dict>
			<key>frame</key>
			<string>{{339, 332}, {33, 25}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 5}, {33, 25}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>assets/ch3.png</key>
		<dict>
			<key>frame</key>
			<string>{{409, 332}, {33, 24}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 6}, {33, 24}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>assets/ch4.png</key>
		<dict>
			<key>frame</key>
			<string>{{374, 332}, {33, 24}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 6}, {33, 24}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>assets/coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{339, 253}, {77, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {77, 102}}</string>
			<key>sourceSize</key>
			<string>{77, 102}</string>
		</dict>
		<key>assets/green.png</key>
		<dict>
			<key>frame</key>
			<string>{{503, 1}, {348, 155}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {348, 155}}</string>
			<key>sourceSize</key>
			<string>{348, 155}</string>
		</dict>
		<key>assets/mountain_bot.png</key>
		<dict>
			<key>frame</key>
			<string>{{853, 1}, {170, 336}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {170, 336}}</string>
			<key>sourceSize</key>
			<string>{170, 336}</string>
		</dict>
		<key>assets/mountaint_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{503, 158}, {170, 336}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {170, 336}}</string>
			<key>sourceSize</key>
			<string>{170, 336}</string>
		</dict>
		<key>assets/pilar_bot.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 308}, {52, 336}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 336}}</string>
			<key>sourceSize</key>
			<string>{52, 336}</string>
		</dict>
		<key>assets/pilar_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 253}, {53, 336}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {53, 336}}</string>
			<key>sourceSize</key>
			<string>{53, 336}</string>
		</dict>
		<key>assets/temp (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{443, 253}, {225, 40}}</string>
			<key>offset</key>
			<string>{-3, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 5}, {225, 40}}</string>
			<key>sourceSize</key>
			<string>{239, 55}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>assets.png</string>
	</dict>
</dict>
</plist>
