<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>air_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{22,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>air_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,36},{26,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{26,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>air_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemy_air_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,36},{26,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemy_air_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,36},{30,22}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>enemy_air_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,34},{29,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{29,28}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>enemy_air_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemy_land_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,24},{18,16}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{18,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemy_land_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,36},{30,25}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,25}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>enemy_land_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{28,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>enemy_land_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>greatball.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,42},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{16,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>land_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,36},{22,22}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>land_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{28,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>land_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>land_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{30,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>land_and_air_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,35},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>land_and_air_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{30,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>land_and_air_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,58},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>pokeball.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,42},{16,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{16,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>selected_tower_sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>trash.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,36},{20,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{20,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ultraball.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,32},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{16,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{315,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcb8d1afc9fe117e54ad6650141aafe5:75f2056c432bf5b8779ce9da0ce3c365:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
